<!-- Site Header with Menus -->
<div class="pt-3 pb-0">
  <h1 class="text-amber-700 text-center font-bold text-lg leading-snug">WeiTa Music Search</h1>
</div>
<div class="m-8 md:mx-auto p-3 space-y-6 sm:full md:w-full xl:w-1/2 bg-amber-700 shadow-md w-100 rounded overflow-hidden">

  <app-header></app-header>
</div>
<div class="m-6 md:mx-auto p-3 space-y-6 md:w-3/4 xl:w-1/2 bg-orange-100 text-neutral-800">
  <div id="content">
    <div class="container">
    <router-outlet></router-outlet>
    </div>
  </div>
</div>
