
  ...
    <img class="mr-3 w-1/2 float-left rounded hover:sepia hover:drop-shadow-lg [clip-path:circle(80%_at_30%_20%)] [shape-outside:circle(80%_at_30%_20%)]" src="https://source.unsplash.com/ZEfzyduAyJU">
    <p class="indent-6">Vestibulum congue felis..For the article image, we’ve firstly added two filters that will take effect on hover (hover:sepia hover:drop-shadow-lg). Then we’ve used the power of arbitrary values to clip the image ([clip-path:circle(80%_at_30%_20%)]) and force the text to flow around it ([shape-outside:circle(80%_at_30%_20%)]). Vestibulum congue felis..For the article image, we’ve firstly added two filters that will take effect on hover (hover:sepia hover:drop-shadow-lg). Then we’ve used the power of arbitrary values to clip the image ([clip-path:circle(80%_at_30%_20%)]) and force the text to flow around it ([shape-outside:circle(80%_at_30%_20%)])</p>
  ...
    <div class="flex pt-6">
      <img class="mr-6 mb-6 w-24 h-24 rounded border-4 border-b-[16px] border-red-600 shadow-md shadow-red-900" src="https://source.unsplash.com/WNoLnJo7tS8" />
      <div>
        <p class="-mt-3 font-semibold text-stone-900">David Smith</p>
        <p class="mt-2 text-sm text-red-800">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas <a href="#" class="underline underline-offset-1 decoration-1 decoration-wavy decoration-cyan-600 hover:text-cyan-600">varius vitae</a> ipsum et commodo.</p>
      </div>
    </div>
